<div>
	Grade: <%= @grade.gpa %>
	Course: <%= @grade.course.name %><br>
	Subject: <%= @grade.course.subject %><br><br>
	<%= link_to 'Edit', edit_grade_path %>
	
	<%= button_to 'delete', @grade, method: :delete %>
</div>