<h2><%= "#{@user.first_name} #{@user.last_name}" %>

<% @user.courses.each do |course| %>
  <li> <%= link_to course.name, course %></li>
<%end%>

<h3>Add Grades</h3>

<%= form_for Grade.new do |f| %>
	<%= f.label :gpa %>
	<%= f.text_field :gpa %>
	<%= f.hidden_field :student_id, value: @user.id %>
	<%= f.label :course_id %>
	<%= f.collection_select :course_id, @user.courses, :id, :name %>

	<%= f.submit "Add grade" %>

<% end %>


<h3>Select Below to Add to Student </h3>

<%= @courses.each do |course| %>

	<%= form_for Grade.new do |f| %>
		<%= f.hidden_field :student_id, value: @user.id %>
		<%= f.hidden_field :course_id, value: course.id %>
		<%= f.submit "#{course.name}" %>
	<% end %>
<% end %>

