<section class="edit-student">
	<br><br><br><br><br>
	<h2><%= "#{@student.name}" %> </h2>

	<% @student.my_courses.each do |course| %>
	  <li> <%= "#{course.name}" %></li>
	<%end%>

	<h2>Add Grades</h2>

	<%= form_for Grade.new do |f| %>
		<%= f.label :gpa %>
		<%= f.text_field :gpa %>
		<%= f.hidden_field :student_id, value: @student.id %>
		<%= f.label :course_id %>
		<%= f.collection_select :course_id, @student.courses, :id, :name %>

		<%= f.submit "Add grade" %>

	<% end %>


	<h3>Select Course Below to Add to Student </h3>

	<%= @courses.each do |course| %>

		<%= form_for Grade.new do |f| %>
			<%= f.hidden_field :student_id, value: @student.id %>
			<%= f.hidden_field :course_id, value: course.id %>
			<%= f.submit "#{course.name}" %>
		<% end %>
	<% end %>
</section>