<!DOCTYPE html>
<html>
<head>
  <title>Schoolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <ul>
      <li>
        <button>Log In</button>
      </li>
      <li>
        <button>Sign Up</button>
      </li>
      <li>
        <%= button_to 'log out', signout_path, method: :delete %>
      </li>
    </ul>
  </header>

<%= yield %>

</body>
</html>
